  <body>
      <h1> <%= @user.name %> </h1>
      <div>
        this will show a bunch of <%= @user.name %>'s stuff
      </div>
      <p></p>
      <div id="container"></div>
      <div id="projects"></div>
  </body>
<p></p>
  <%= link_to "Back Home", root_path %>

  <script>
    ReactDOM.render(
      React.createElement(UmaterialBox, {url: "/api/v1/users/<%=@user.id%>/umaterials", pollInterval: 2000}),
      document.getElementById("container")
    )

    ReactDOM.render(
      React.createElement(UserProjects,{url: "/api/v1/users/<%=@user.id%>/user_projects", user_id: <%=@user.id%>}),
      document.getElementById("projects")
    )
  </script>
