  <body>
      <div id="container"></div>
      <div id="projects"></div>
  </body>
<p></p>
  <%= link_to "Back Home", root_path %>

  <script>
    ReactDOM.render(
      React.createElement(UmaterialBox, {url: "/api/v1/users/<%=@user.id%>/umaterials", pollInterval: 2000}),
      document.getElementById("container")
    )

    ReactDOM.render(
      React.createElement(UserProjects,{url: "/api/v1/users/<%=@user.id%>/user_projects", username: "<%=@user.name%>", user_id: <%=@user.id%>}),
      document.getElementById("projects")
    )
  </script>
